<%- include("header") -%> 
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
       
            <!-- <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat Food</li> -->
            <% for(var i =0;i<newListItems.length;i++){ %> 
                <div class="item">
                    <input type="checkbox">
                <p><%= newListItems[i] %></p>
                </div>
            <% } %>  

            <form action="/" method="POST">
                <input type="text" name="newItem" autocomplete="off" placeholder="Add Item">
                <button type="submit" name="list" value="<%=listTitle%> ">+</button>
                </form> 
    </div>
  <%- include("footer") %>    

    


<!--
       <%# if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>    
        <h1 style="color: tan;"><%#= kindOfDay %> ToDo List</h1>    
            <%# }else{ %>                                                       
        <h1 style="color: red;"><%#= kindOfDay %> ToDo List</h1>   
             <%# } %> 
                                                                 
 -->  